# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

test-output/

# Editor files
.vscode/
.idea/
*.swp

# Logs
*.log

# System files
.DS_Store
